@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

body {
  padding: 30px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 5rem;
  color: #0ccac4;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 600px) {
  h1  {
    font-size: 3rem;
  }
}